{{#each appointments as |app|}}

<div class="box appointment">
  <div class="columns" data-id="{{app.id}}">
    <div class="column is-3 name">
      <p>
        <span class="title is-bold">{{app.doctor.given_name}} {{app.patient.given_name}}</span>
        <!-- <span class="button is-danger is-outlined follow">delete</span> -->
      </p>
      <p class="tagline"></p>
    </div>
    <div class="column is-2 followers has-text-centered">
      <p class="stat-val">Maester Raymon</p>
      <a href="#">Change Doctor</a>
      <!-- Modal to patch request -->
    </div>
    <div class="column is-2 following has-text-centered">
      <p class="stat-val"></p>
      <a href="#">Change Time</a>
      <!-- Modal to patch request -->
    </div>
    <div class="column is-2 likes has-text-centered">
      <small></small>
      <a href="#">Change Type</a>
      <!-- Modal to patch request -->
    </div>
    <div class="column is-1">
      <button class="button is-danger is-outlined level-item">Delete Appointment</button>
    </div>
  </div>
</div>

{{/each}}
